/* Global styles for the entire document */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for main heading */
h1 {
  font-size: 2em;
  color: #333;
}

/* Styling for paragraphs */
p {
  font-size: 12px;
  line-height: 16px;
  color: #413f3f;
}

/* styling for all the span  */
span {
  color: rgb(8, 11, 189);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

/* Styling for list items */
li {
  font-size: 12px;
  line-height: 30px;
  color: #413f3f;
}

/* Center-aligning headings 2 */
h2 {
  text-align: center;
}

/* Styles for a container class */
.container {
  background-color: #fff;
}

/* Styles for the header section */
.header {
  text-align: center;
  padding: 8px;
  height: 5vh;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  top: 0;
}

/* Styles for the profile section */
.profile {
  background-color: #f5eeee;
  display: flex;
  height: 50vh;
  margin: auto 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
}

/* Styles for the image */
img {
  width: 150px;
  height: 200px;
  display: block;
  padding-left: 20px;

  margin-top: 15px;
}

/* Content styles */
.content {
  margin: 5px;
}

/* Footer style */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
}
